* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-color: #000;
	--text-color: #fff;
	--link-color: #1DB954;
	--button-background: #1DB954;
	--button-text: #000;
	--hover: #17a74a;
	--border-background-color: #222;
}

body.light-theme {
	--background-color: #fff;
	--text-color: #000;
	--link-color: #1DB954;
	--button-background: #1DB954;
	--button-text: #fff;
	--hover: #17a74a;
	--border-background-color: #dcdcdc;
}


::selection {
	color: var(--text-color);
	background: var(--button-background);
}


#scroll-up-btn {
	display: none; /* Hidden by default */
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
	font-size: 2rem;
	background-color: var(--button-background); /* Green */
	color: #000; /* Black text */
	border: none;
	outline: none;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	transition: opacity 0.3s, background-color 0.3s;
}

#scroll-up-btn:hover {
	background-color: var(--hover); /* Darker green */
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--background-color);
}

#theme-toggle-btn {
	background-color: transparent;
	color: var(--link-color); /* Green */
	border: 0;
	cursor: pointer;
	font-size: 1rem;

	transition: background-color 0.3s, color 0.3s;
}

#theme-toggle-btn:hover {
	background-color: var(--background-color);
	color: var(--text-color);
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
}

header {
	position: sticky;
	top: 0;
	background-color: var(--background-color);
	padding: 1rem 2rem;
	z-index: 1000;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	font-size: 1.5rem;
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
}

.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-links li {
	margin-left: 2rem;
}

.nav-links a {
	color: var(--link-color);
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s;
}

a.active,
.nav-links a:hover {
	color: var(--hover);
	text-decoration: underline;
}

main {
	flex: 1;
	padding: 2rem;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hero-text {
	max-width: 600px;
}

.hero-text h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.hero-text p {
	font-size: 1.125rem;
	margin-bottom: 2rem;
}

.hero-text .btn {
	background-color: var(--button-background);
	color: var(--text-color);
	padding: 0.75rem 1.5rem;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
}

.hero-text .btn:hover {
	background-color: var(--hover);
}

.more-content {
	margin-top: 4rem;
}

.more-content h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--link-color);
}

.more-content p {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.more-content ul {
	margin-left: 1.5rem;
	list-style: disc;
}

.more-content li {
	margin-bottom: 0.5rem;
}

.content, .services, .faq, .contact {
	max-width: 800px;
	margin: 0 auto;
}

.content h1, .services h1, .faq h1, .contact h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--link-color);
}

.content h2, .services h2, .faq h2, .contact h2 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: var(--link-color);
}

.content p, .services p, .faq p, .contact p {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1rem;
}

.content img {
	width: 100%;
	height: auto;
	margin-top: 1rem;
}

.service-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
}

.service-item {
	flex: 1 1 calc(50% - 2rem);
	background-color: var(--background-color);
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: center;
}

.service-item img {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	object-fit: cover;
}

.service-item h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: var(--link-color);
}

.service-item p {
	font-size: 1rem;
	line-height: 1.5;
}

.faq-item {
	margin-bottom: 1.5rem;
}

.faq-item a:hover {
	text-decoration: underline;
}

.faq-item h2 {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	color: var(--link-color);
}

.faq-item p {
	font-size: 1rem;
	line-height: 1.5;
}

.contact-info {
	margin-bottom: 2rem;
}

.contact-info h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	color: var(--link-color);
}

.contact-info p {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

form {
	margin-top: 1rem;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group label {
	display: block;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 0.75rem;
	font-size: 1rem;
	border: 1px solid var(--border-background-color);
	border-radius: 0.25rem;
	background-color: var(--border-background-color);
	color: var(--text-color);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
	color: var(--text-color);
}

.form-group input:focus,
.form-group textarea:focus {
	border-color: #1DB954;
	outline: none;
}

.btn {
	background-color: #1DB954;
	color: var(--text-color);
	padding: 0.75rem 1.5rem;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: var(--hover);
}

footer {
	background-color: var(--background-color);
	text-align: center;
	padding: 1rem;
}

footer p {
	font-size: 0.875rem;
	margin: 0;
}

footer .social-icons {
	margin-top: 0.5rem;
	z-index: 1000;
}

footer .social-icons a {
	display: inline-block;
	margin: 0 0.5rem;
}

footer .social-icons img {
	width: 20px;
	height: 20px;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:visited {
	color: var(--link-color);
}

a:hover {
	color: var(--hover);
}

a:active {
	color: var(--hover);
}

@media (min-width: 768px) {
	.hero {
		flex-direction: column;
		gap: 5rem;
	}
	
	.hero-text {
		flex: 1;
	}
	
	.hero-image {
		flex: 1;
	}
	
	.hero-image img {
		margin-top: 0;
		margin-left: 2rem;
	}
	
	.service-item {
		flex: 1 1 calc(45% - 2rem);
	}
}



.language-selector select {
	appearance: none;
	color: var(--link-color);
	background-color: var(--background-color);
	padding: 5px 5px;
	border-radius: 25px;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
}

.language-selector select:focus {
	outline: none;
}


#tooltip {
	position: absolute;
	background-color: var(--background-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: none;
	z-index: 1000;
	border: 1px solid var(--border-background-color);
}

button {
	cursor: pointer;
}

.hidden {
	display: none;
}

#slider-left{
	left: 10px;
}

#slider-right{
	right: 10px;
}

.slider-button{
	position: absolute;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	top: calc(15rem - 1.5rem);
	font-size: 1.5rem;
	background-color: var(--link-color);
	border: 0;
	transition: background-color 0.4s ease;
}

.slider-button:hover{
	color: #1DB954;
	background-color: var(--background-color);
}

.slider-container{
	position: relative;
}

.slider-container img{
	height: 30rem;
	width: 50rem;
	border-radius: 15px;
}
.slides{
	display: none;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover {
	background-color: #717171;
}

.active-dot{
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}